.header {
    background-color: rgb(13, 13, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px;
    border-radius: 10px;

    input, select {
        height: 35px;
    }
    button {
        background-color: rgb(157, 255, 157);
        color: #3e3737;
        font-weight: bold;
    }
}
.task-container {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    border-radius: 10px;

    .name, .priority {
        width: 46%;
    }
    .icon {
        width: 7%;
        display: flex;
        justify-content: end;
    }
}