.task-container {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    border-radius: 10px;

    .name, .priority {
        width: 46%;
    }
    .icon {
        width: 7%;
        display: flex;
        justify-content: end;
    }
}